.main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-color: aliceblue;
}


.split {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100vw;
    background-color: rgb(238, 235, 235);
    gap: 2em;
}

.outlet {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.close {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 1px 0px gray;
}

.open {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 1px 0px gray;
    transform: translateX(13.5em);
}

.opeenn {
    font-size: 2em;
}


@media only screen and (max-width:500px) {
    .main {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        min-height: auto;
        background-color: aliceblue;
    }

    .split {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .open,
    .close {
        display: none;
    }

    .outlet {
        width: 100vw;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}