.main {
    width: 15vw;
    transform: translateX(-3em);
    box-shadow: 1px 0px 1px 0px gray;
    background-color: white;
    height: 94vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
}

.main2 {
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.linkscontainer,
.mains {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 15vw;
}

.linkscontainer {
    margin-top: 1em;
}

.button {
    background-color: red;
    border-radius: 15px;
    height: 3em;
    width: 70%;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    justify-content: center;
    gap: 0.5em;
}

.link {
    height: 3em;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 0.5em;
}

.activeLink {
    height: 3em;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 0.5em;
    color: red;
    border-left: 3px solid red;
}

.images {
    background-color: gray;
    border-radius: 15px;
    height: 4em;
    width: 12vw;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    gap: 0.5em;
}

.images img {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    background: black;
}

.im p {
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 500px) {
    .main {
        bottom: 0;
        position: fixed;
        display: flex;
        margin: 0;
        padding: 0;
        height: 10vh;
        width: 100vw;
        transform: translateX(0em);
        position: absolute;
    }

    .link,
    .button {
        height: 3em;
        width: 15vw;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 0.5em;
        display: flex;
        flex-direction: column;
        font-size: 0.7em;
        align-items: center;
    }

    .button {
        background-color: transparent;
        color: black;
    }

    .activeLink {
        height: 3em;
        width: 15vw;
        margin: auto;
        display: flex;
        align-items: center;
        font-size: 0.7em;
        padding-left: 5px;
        gap: 0.5em;
        flex-direction: column;
        color: red;
        border-left: 3px solid red;
    }

    .main2 {
        display: flex;
        width: 100vw;
        height: 10vh;
        margin: 0;
        padding: 0;
    }

    .images {
        display: none;
        width: 100vw;
    }

    .mains,
    .linkscontainer {
        display: flex;
        flex-direction: row;
        height: 10vh;
        gap: 2vw;
        margin: 0;
        width: 100vw;
        justify-content: space-evenly;
    }
}