body {
    margin: 0;
    padding: 0;
    line-height: 0;
}


.main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 93vh;
}

.bigcard {
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: center;
    width: 72vw;
    margin-bottom: 2em;
}

.good {
    font-weight: 550;
    font-size: 2em;
}

.big {
    display: flex;
    gap: 3em;
    height: 22vh;
    width: 72vw;
}