.inputdiv {
    display: flex;
    flex-direction: column;
}

.myProgress {
    width: 100%;
    background-color: grey;
    border-radius: 1em;
}

.myBar {
    width: 20%;
    height: 30px;
    background-color: red;
    border-radius: 1em;
}

.input {
    width: 100%;
    border: 1px solid gray;
}

.butcon {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button1 {
    margin-top: 2em;
    background-color: red;
    color: white;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border-radius: 10px;
}

.button {
    border: 2px solid red;
    color: red;
    font-weight: 600;
    height: 3em;
    border-radius: 10px;
}

.link {
    color: red;
}

.glow {
    width: 68vw;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: white;
    height: 10vh;
    margin: 1.5em 0;
    padding-right: 5em;
    text-align: justify;
    border-radius: 1em;
    font-size: 1.2em;
    text-transform: capitalize;
}

.glow h4 {
    font-weight: 100;
}

@media only screen and (max-width:768px) {
    .inputdiv {
        width: 85vw;
        margin: 0;
    }

    .main {
        min-height: 80vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .myProgress {
        width: 90vw;
    }

    .glow {
        width: 90vw;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .glow p {
        width: 80vw;
        font-size: 0.7em;
    }

    .butcon {
        width: 90vw;
    }
}