.main {
    display: flex;
    flex-direction: column;
}


.inputdiv {
    display: flex;
    margin: 0.5em 0;
    flex-direction: column;
    color: gray;
    width: 73.5vw;
}

.myProgress {
    width: 100%;
    background-color: grey;
    border-radius: 1em;
}

.myBar {
    width: 20%;
    height: 30px;
    border-radius: 1em;
    background-color: red;
}

.input {
    width: 100%;
    padding-left: 1em;
    border: 1px solid gray;
}

.butcon {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button1 {
    background-color: red;
    color: white;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.button {
    border: 2px solid red;
    color: red;
    font-weight: 600;
    height: 3em;
    border-radius: 10px;
}

.link {
    color: red;
}