.main {
    width: 80vw;
}

.sam {
    width: 72vw;
}

.add {
    width: 15vw;
    height: 17vh;
    border-radius: 10px;
    border: 2px solid red;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
    gap: 1em;
}

.sam2 {
    display: flex;
    gap: 2em;
}

.button1 {
    margin-top: 2em;
    background-color: red;
    color: white;
    border-radius: 10px;
    height: 3em;
}

.buttonspace {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 72vw;
}

.tf {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 2em;
    height: 2em;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
}

.buttoncon {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.selectedCard {
    border: 2px solid red;
}


.buttons {
    padding: 0.5em 1em;
    background: red;
    color: white;
    border-radius: 0.5em;
}

.inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 72vw;
}

.inputs input[type="text"] {
    width: 72vw;
    height: 3em;
}

.input {
    height: 3em;
    border-radius: 1em;
    width: 27vw;
}


@media only screen and (max-width:768px){
    .inputs input[type="text"] {
            width: 72vw;
            height: 3em;
        }
    
        .input {
            height: 3em;
            border-radius: 1em;
            width: 27vw;
        }
}