.Footer {
    background: #24282C;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 100px;

}

.footerButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.innerRedDiv {
    background: #FE4C55;
    padding: 70px;
    border-radius: 20px;
}

.Get {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: white;
    text-align: center;
    padding: 20px;
}

.redP {
    text-align: center;
}

.footerBtn {
    border: solid black 1.5px;
    outline: none;
    padding: 9px;
    background-color: transparent;
    transition: .5s all ease-in;
    text-transform: capitalize;
    margin: 10px;
    border-radius: 10px;
    width: 170px;
    font-weight: bolder;
}

.footerBtn:Hover {
    background-color: black;
    color: white;

}

.innerfooterdiv {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.footerTopText {
    margin: 10px;
    color: #FE4C55;
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.footerDownText {
    margin: 10px;
    color: white;
    text-transform: capitalize;
}

.innerFooterDiv {
    display: flex;
    justify-content: space-evenly;
}

.spnFT {
    display: block;
}

.downFT {
    margin-top: 20px;
    color: white;
}

.App {
    margin-top: 30px;
}

@media only screen and (max-width:768px) {
    .Footer {
        background: #24282C;
        /* width: 100vw; */
        padding: 30px;
        text-align: center;
    }

    .footerButtondiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .innerRedDiv {
        background: #FE4C55;
        padding: 20px;
        border-radius: 20px;
    }

    .Get {
        font-size: 2rem;
        font-weight: bolder;
        text-transform: capitalize;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .redP {
        text-align: center;
    }

    .footerBtn {
        border: thin black 1.5px;
        outline: none;
        padding: 9px;
        background-color: transparent;
        transition: .5s all ease-in;
        text-transform: capitalize;
        margin: 10px;
        border-radius: 10px;
        width: 100%;
        font-weight: bolder;
    }

    .footerBtn:Hover {
        background-color: black;
        color: white;

    }

    .innerFooterDiv {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap-reverse;
        margin-top: 80px;
    }

    .footerTopText {
        margin: 10px;
        color: #FE4C55;
        font-size: 1.3rem;
        font-weight: bolder;
        text-transform: capitalize;
    }

    .footerDownText {
        margin: 10px;
        color: white;
        text-transform: capitalize;
    }

    .spnssFT {
        display: block;
    }

    .downFT {
        margin-top: 20px;
        color: white;
    }

    .App {
        margin-top: 30px;
    }
}