a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


button {
  border: none;
  box-shadow: none;
  cursor: pointer;
}